body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

blockquote {
    margin-bottom: 10px;
    border-left-color: #bbb;
}

form {
    margin-top: 10px;
}

.form-signin input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.table th {
    text-align: center;
}

.table tr {
    text-align: center;
}

.borderless td, .borderless th {
    border: none;
}

#record {
    background: #fff url("/images/microphone_32.png") no-repeat;
    background-size: contain;
    background-position-y: 4px;
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    vertical-align: middle; /* align the text vertically centered */
}

#record.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%);
}
